html{
  background-color: #FFFFF0;
    }
header{
  font-family: Cambria, Cochin, Georgia, Times, serif;
  font-size: 25px;
  color: #A52A2A;
  background-color: Moccasin;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-color: #FFFFF0;
  border-width: 3px;
  border-style: solid
     }

nav {
  font-family: Cambria, Cochin, Georgia, Times, serif;
  width: 80%;
  font-size: 23px;
  font-weight: bolder;
  text-align: center;
  word-spacing: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
    }

main {
  font-family: Cambria, Cochin, Georgia, Times,  serif;
  width: 80%;
  color: #A52A2A;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
      }

footer {
  width: 80%;
  color: #A52A2A;
  font-size: 14px;
  font-family: Cambria, Cochin, Georgia, Times,  serif;
  font-weight: bolder;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: Moccasin;
        }

.underline {
  text-decoration: underline;
  padding-top: 10px;
  padding-bottom: 10px;
}

.price {
  text-decoration: underline;
  font-weight: bolder;
}

.blackline {
  color: black
    }

.size {
  font-size: 25px;
  font-weight: bolder;

}

